@import './media';

// Container mixins
// Used for constraining widths of elements and centering them
//
// Use mixins only, if utility classes are not an option
// (e.g. due to need for media queries)

$containerSizes: (
	'xs': var(--contentWidthXs),
	'sm': var(--contentWidthSm),
	'md': var(--contentWidthMd),
	'lg': var(--contentWidthLg),
) !default;

@mixin container($size: 'md') {
	width: calc(100% - calc(var(--spacingMd) * 2));
	max-width: map_get($containerSizes, $size);
	margin-left: auto;
	margin-right: auto;

	@include mq('md') {
		width: calc(100% - calc(var(--spacingLg) * 2));
	}
}
