@import './hyphen';
@import './media';

// Heading mixins
// Use these to add specific heading styles to elements

@mixin heading() {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;

	line-height: var(--lineHeightBase);
	font-weight: var(--fontWeightBold);

	&:not(.no-hyphen) {
		@include hyphen;
	}
}

@mixin h1() {
	@include heading();
	font-size: var(--fontSizeH1);
}

@mixin h2() {
	@include heading();
	font-size: var(--fontSizeH2);
}

@mixin h3() {
	@include heading();
	font-size: var(--fontSizeH3);
}

@mixin h4() {
	@include heading();
	font-size: var(--fontSizeH4);
}

@mixin h5() {
	@include heading();
	font-size: var(--fontSizeH5);
}
