.themeTwo {
	/* THEME OVERRIDES */

	// Tier 1
	--colorPrimaryHS: 325, 100%;
	--colorPrimaryL: 65%;
	--colorPrimary: hsl(var(--colorPrimaryHS), var(--colorPrimaryL));

	--colorNeutral81: #66242f;

	// Tier 2
	--colorSceneNeutralSubdued: var(--colorNeutral81);

	// Tier 3
	--buttonPrimaryBackground: var(--colorSurfacePrimarySubdued);
}
