@import '../settings';

/* =================================
   #SPINNER

   Utility class to create a spinner element with animation
   ================================= */

/**
 * Example use:
 *
 * <span className="u-spinner" />
 *
 */

.u-spinner {
	width: var(--iconSizeMd);
	height: var(--iconSizeMd);

	position: absolute;

	border: var(--borderSizeMd) solid currentColor;
	border-top-color: transparent;
	border-radius: 50%;

	animation: spin 1s infinite linear;

	@keyframes spin {
		to {
			transform: rotate(360deg);
		}
	}
}
