@import '../02-tools/color-functions';

:root {
	/**
	 * Tier 1 - Color definitions

	   This tier doesn't care about how colors are used. It only defines them.
	   DON'T use this tier in components and global styles.
	 */

	// Brand colors
	--colorPrimary: #f36e24;
	--colorPrimary80: #f58b50;

	--colorSecondary: #ac374b;
	--colorSecondary80: #bd5f6f;

	--colorNeutral: #001c24;
	--colorNeutral93: #1b3036;
	--colorNeutral89: #24383e;
	--colorNeutral85: #2d4146;
	--colorNeutral81: #36494e;
	--colorNeutral77: #3f5156;
	--colorNeutral73: #49595e;
	--colorNeutral40: #8a9699;

	// Utility colors
	--colorDark: #000000;
	--colorDark50: #808080;
	--colorDark10: #e6e6e6;
	--colorLight: #ffffff;

	// Overlays
	--overlayShadeHover: 12%;
	--overlayShadeFocus: 16%;
	--overlayShadePressed: 20%;

	--overlayTintHover: 12%;
	--overlayTintFocus: 16%;
	--overlayTintPressed: 32%;

	// Misc
	--colorOverlay: rgba(0, 0, 0, 0.5);

	/**
	 * Tier 2 - Color applications

	   This tier assigns colors defined in Tier 1 to specific purposes and applications.
	   Use THIS tier of tokens in components and global styles.
	 */

	// Text colors
	--colorTextLight: var(--colorLight);
	--colorTextLightSubdued: var(--colorNeutral40);
	--colorTextPrimary: var(--colorPrimary);
	--colorTextPrimarySubdued: var(--colorPrimary80);
	--colorTextSecondary: var(--colorSecondary);
	--colorTextSecondarySubdued: var(--colorSecondary80);

	// Border colors
	--colorBorderNeutralLayer1: var(--colorNeutral93);
	--colorBorderNeutralLayer2: var(--colorNeutral85);
	--colorBorderPrimaryLayer1: var(--colorPrimary);
	--colorBorderPrimaryLayer2: var(--colorPrimary80);

	// Opacity
	--opacityDisabled: 0.3;
	--opacityOverlay: 0.5;

	// Surface colors
	--colorSurfacePrimary: var(--colorPrimary);
	--colorSurfacePrimarySubdued: var(--colorPrimary80);

	--colorSurfaceStatePrimary: var(--colorPrimary);
	//--colorSurfaceStatePrimaryHover: tintHover($colorSurfaceStatePrimary));
	//--colorSurfaceStatePrimaryFocus: tintFocus($colorSurfaceStatePrimary));
	//--colorSurfaceStatePrimaryPressed: tintPressed($colorSurfaceStatePrimary));

	--colorSurfaceStateUtility: var(--colorLight);
	//--colorSurfaceStateUtilityHover: shadeHover($colorSurfaceStateUtility));
	//--colorSurfaceStateUtilityFocus: shadeFocus($colorSurfaceStateUtility));
	//--colorSurfaceStateUtilityPressed: shadePressed($colorSurfaceStateUtility));
	--colorSurfaceStateUtilityActive: var(--colorPrimary);

	// Scene colors
	--colorSceneNeutral: var(--colorNeutral);
	--colorSceneNeutralSubdued: var(--colorNeutral93);
}
