@import '../02-tools/color-functions';

:root {
	/**
	 * Tier 1 - Color definitions

	   This tier doesn't care about how colors are used. It only defines them.
	   DON'T use this tier in components and global styles.
	 */

	// Brand colors
	--colorPrimaryHS: 21, 90%;
	--colorPrimaryL: 55%;
	--colorPrimary: hsl(var(--colorPrimaryHS), var(--colorPrimaryL));
	--colorPrimary80: hsl(var(--colorPrimaryHS), 64%);

	--colorNeutral: #001c24;
	--colorNeutral93: #1b3036;
	--colorNeutral85: #2d4146;
	--colorNeutral40: #8a9699;

	// Utility colors
	--colorDark: #000000;
	--colorLight: #ffffff;

	// Overlays
	--darkenHover: 12%;
	--darkenFocus: 16%;
	--darkenPressed: 20%;

	--lightenHover: 12%;
	--lightenFocus: 16%;
	--lightenPressed: 32%;

	// Misc
	--colorOverlay: rgba(0, 0, 0, 0.5);

	/**
	 * Tier 2 - Color applications

	   This tier assigns colors defined in Tier 1 to specific purposes and applications.
	   Use THIS tier of tokens in components and global styles.
	 */

	// Text colors
	--colorTextLight: var(--colorLight);
	--colorTextLightSubdued: var(--colorNeutral40);
	--colorTextPrimary: var(--colorPrimary);
	--colorTextPrimarySubdued: var(--colorPrimary80);

	// Border colors
	--colorBorderNeutralLayer1: var(--colorNeutral93);
	--colorBorderNeutralLayer2: var(--colorNeutral85);
	--colorBorderPrimaryLayer1: var(--colorPrimary);
	--colorBorderPrimaryLayer2: var(--colorPrimary80);

	// Opacity
	--opacityDisabled: 0.3;
	--opacityOverlay: 0.5;

	// Surface colors
	--colorSurfacePrimary: var(--colorPrimary);
	--colorSurfacePrimarySubdued: var(--colorPrimary80);

	--colorSurfaceStatePrimary: var(--colorPrimary);
	--colorSurfaceStatePrimaryHover: hsl(var(--colorPrimaryHS), calc(var(--colorPrimaryL) - var(--darkenHover)));
	--colorSurfaceStatePrimaryFocus: hsl(var(--colorPrimaryHS), calc(var(--colorPrimaryL) - var(--darkenFocus)));
	--colorSurfaceStatePrimaryPressed: hsl(var(--colorPrimaryHS), calc(var(--colorPrimaryL) - var(--darkenPressed)));

	// Scene colors
	--colorSceneNeutral: var(--colorNeutral);
	--colorSceneNeutralSubdued: var(--colorNeutral93);
}
