:root {
	// Border & border radius size
	--borderSizeSm: 1px;
	--borderSizeMd: 2px;
	--borderSizeLg: 4px;

	--borderRadiusSm: 4px;
	--borderRadiusMd: 8px;
	--borderRadiusLg: 12px;
	--borderRadiusXl: 16px;
	--borderRadius2Xl: 24px;

	// Focus outline size
	--outlineSize: max(2px, 0.08em);

	// Content width
	--contentWidthXs: 400px;
	--contentWidthSm: 800px;
	--contentWidthMd: 1200px;
	--contentWidthLg: 1440px;

	// Global component settings
	--iconSizeMd: 24px;
}
