@import './spacing';

// Border & border radius size
$borderSizeSm: 1px !default;
$borderSizeMd: 2px !default;
$borderSizeLg: 4px !default;

$borderRadiusSm: 4px !default;
$borderRadiusMd: 8px !default;
$borderRadiusLg: 12px !default;
$borderRadiusXl: 16px !default;
$borderRadius2Xl: 24px !default;

// Focus outline size
$outlineSize: max(2px, 0.08em) !default;

// Content width
$contentWidthXs: 400px !default;
$contentWidthSm: 800px !default;
$contentWidthMd: 1200px !default;
$contentWidthLg: 1440px !default;

// Global component settings
$iconSizeMd: 24px;
