:root {
	// Font families
	--fontFamily: 'Inter', Arial, sans-serif;

	// Font weights
	--fontWeightRegular: 400;
	--fontWeightMedium: 500;
	--fontWeightBold: 700;

	// Font sizes
	--fontSizeRemBasePure: 14;
	--fontSizeRemBase: calc(var(--fontSizeRemBasePure) * 1px);
	--fontSizeRemBaseDesktop: calc(var(--fontSizeRemBasePure) * 1px);

	--fontSizeH1: calc(calc(40 / var(--fontSizeRemBasePure)) * 1rem);
	--fontSizeH2: calc(calc(32 / var(--fontSizeRemBasePure)) * 1rem);
	--fontSizeH3: calc(calc(24 / var(--fontSizeRemBasePure)) * 1rem);
	--fontSizeH4: calc(calc(20 / var(--fontSizeRemBasePure)) * 1rem);
	--fontSizeH5: calc(calc(16 / var(--fontSizeRemBasePure)) * 1rem);

	--fontSizeLg: calc(calc(16 / var(--fontSizeRemBasePure)) * 1rem);
	--fontSizeMd: calc(calc(14 / var(--fontSizeRemBasePure)) * 1rem);
	--fontSizeSm: calc(calc(12 / var(--fontSizeRemBasePure)) * 1rem);

	// Line heights
	--lineHeightLg: 1.5;
	--lineHeightBase: 1.25;
}
