@use 'sass:math';

// Font families
$fontFamily: 'Inter', Arial, sans-serif !default;

// Font weights
$fontWeightRegular: 400 !default;
$fontWeightMedium: 500 !default;
$fontWeightBold: 700 !default;

// Font sizes
$fontSizeRemBasePure: 14 !default;
$fontSizeRemBase: $fontSizeRemBasePure * 1px !default;
$fontSizeRemBaseDesktop: $fontSizeRemBasePure * 1px !default;

$fontSizeH1: math.div(40, $fontSizeRemBasePure) * 1rem !default;
$fontSizeH2: math.div(32, $fontSizeRemBasePure) * 1rem !default;
$fontSizeH3: math.div(24, $fontSizeRemBasePure) * 1rem !default;
$fontSizeH4: math.div(20, $fontSizeRemBasePure) * 1rem !default;
$fontSizeH5: math.div(16, $fontSizeRemBasePure) * 1rem !default;

$fontSizeLg: math.div(16, $fontSizeRemBasePure) * 1rem !default;
$fontSizeMd: math.div(14, $fontSizeRemBasePure) * 1rem !default;
$fontSizeSm: math.div(12, $fontSizeRemBasePure) * 1rem !default;

// Line heights
$lineHeightLg: 1.5 !default;
$lineHeightBase: 1.25 !default;
