@import '../settings';

/* =================================
   #OUTLINE
   ================================= */

/**
 * Setting focus outline on focusable elements
 *
 * Inspiration:
 * https://css-tricks.com/standardizing-focus-styles-with-css-custom-properties/
 */

a,
button,
input,
textarea,
select,
summary {
	&:focus,
	&:focus-visible {
		outline: $outlineSize solid currentColor;
		outline-offset: $outlineSize;
	}

	&:focus:not(:focus-visible) {
		outline: none;
	}
}
