@import '../settings';

html {
	background-color: var(--colorSceneNeutral);
	font-family: var(--fontFamily);
	font-size: var(--fontSizeRemBase);
	line-height: var(--lineHeightLg);
	color: var(--colorTextLight);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@include mq('sm') {
		font-size: var(--fontSizeRemBaseDesktop);
	}
}

// Adds support setting footer display to sticky,
// so it is always in the bottom
html,
body,
#react-app {
	height: 100%;
}
